{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block header %}
  <h1>{{ product.name }}</h1>
{% endblock %}

{% block content %}
  <p>{{ product.description }}</p>
  <p>Price: ${{ product.price }}</p>

  {% if request.user.is_authenticated %}
    {% if request.user.is_staff or request.user == product.seller %}
      <a href="{% url 'shop:product_edit' product.id product.slug %}">Edit</a>
      <a href="{% url 'shop:product_delete' product.id product.slug %}">Delete</a>
    {% endif %}
  {% endif %}
 

  
  {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 300px;">
  {% else %}
    <p>No image available.</p>
  {% endif %}

  <form method="POST" action="{% url "cart:add_to_cart" product.id %}">
    {% csrf_token %}
    <input type="number" name="quantity" value="1" min="1" required>
    <button type="submit">Add to Cart</button>
  </form>
  <p>Category: <a href="{% url 'shop:category_detail' product.category.slug %}">{{ product.category.name }}</a></p>

  <h2>Related Products</h2>
  <ul>
    {% for related_product in related_products %}
      <li>
        <a href="{% url 'shop:product_detail' related_product.id related_product.slug %}">{{ related_product.name }}</a> - ${{ related_product.price }}
      </li>
    {% endfor %}
{% endblock %}