{% extends "base.html" %}
{% block title %}All Products{% endblock title %}
{% block header %}
  <h1>All Products</h1>
{% endblock header %}

{% block content %}
  <ul>
    {% for product in products %}
      <li>
        <a href="{% url 'shop:product_detail' product.id product.slug %}">{{ product.name }}</a> - ${{ product.price }}
      </li>
    {% endfor %}
  </ul>

  {% if products %}
    <p>Total Products: {{ products|length }}</p>
  {% else %}
    <p>No products available.</p>
  {% endif %}

  <button type="button"><a href="{% url 'shop:product_create' %}">Add new product</a></button>
{% endblock content %}